/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body
  font-size: 1em;
  font-family: Arial
  line-height: 1.618
  padding: 0
  margin: 0

.promo
  padding: 1.618em .618em;
  border-radius: .25em;
  border: .25em solid gray;
  transition: all .3s ease-in-out
  

.promo[class*="column"]
  width: 12em;

.promo__figure
  padding: 1.618em .618em;
  margin: .618em;
  background: rgba(90,90,90,.1);
  &__img
    width: 90%
  &:nth-child(even)
    .promo__figure__img
      transform: rotatey(180deg)
  &:nth-child(3n)
      .promo__figure__img
        transform: rotatex(180deg)
  &:nth-child(5n)
      .promo__figure__img
        transform: rotatez(180deg)
  
.editable:hover, .editable:focus{
    outline: 1px dashed #bbb;
    
}
[contenteditable="true"]{
    outline: 1px dashed #777;
}
[contenteditable="true"]:focus, [contenteditable="true"]:hover{
    outline: 1px solid #9b9;
}
[contenteditable="true"] > style[scoped],
style[scoped]:hover{
    display:block;
}

.tutor
  width: 18em;
  border: 2px solid #9a9a9a
  margin: 1.618em 0
  &__field
    font-family: monospace
    font-size: .9em
    line-height: 1.618
    &__field
      border: 1px solid transparent
      &:hover
        border-color: #999
      
    &--hidden
      display:none;
    &--contextMenu
      border:2px solid #999
      background: white;
      border-radius: 2px;
      width: 12em;
      z-index: 9999
    &__select, &__input
      font-family: inherit
      font-size:inherit
      border: none
      background: transparent
    &__select
      display:inline-block
    &__label
      clear:left
      text-transform: lowercase
      &::after
        content: ':'
        
  