[class*="--horizontal"]
  flex-direction: row;

[class*="--vertical"] 
  flex-direction: column;

.promo
  display:flex;

.justify--
    for prop in space-between space-around center flex-start flex-end    
        &{prop}
            justify-content: prop;

.items--
    for prop in baseline center flex-start flex-end stretch
        &{prop}
            align-items: prop
.direction--
    for prop in row column row-reverse column-reverse
        &{prop}
            flex-direction: prop

.wrap--
    for prop in nowrap wrap wrap-reverse
        &{prop}
            flex-wrap: prop

for num in 1..10
    .grow--{num}
        flex-grow: num
    .shrink--{num}
        flex-shrink: num
    .order--{num}
        order: num

