[class*="--horizontal"] {
  flex-direction: row;
}
[class*="--vertical"] {
  flex-direction: column;
}
.promo {
  display: flex;
}
.justify--space-between {
  justify-content: space-between;
}
.justify--space-around {
  justify-content: space-around;
}
.justify--center {
  justify-content: center;
}
.justify--flex-start {
  justify-content: flex-start;
}
.justify--flex-end {
  justify-content: flex-end;
}
.items--baseline {
  align-items: baseline;
}
.items--center {
  align-items: center;
}
.items--flex-start {
  align-items: flex-start;
}
.items--flex-end {
  align-items: flex-end;
}
.items--stretch {
  align-items: stretch;
}
.direction--row {
  flex-direction: row;
}
.direction--column {
  flex-direction: column;
}
.direction--row-reverse {
  flex-direction: row-reverse;
}
.direction--column-reverse {
  flex-direction: column-reverse;
}
.wrap--nowrap {
  flex-wrap: nowrap;
}
.wrap--wrap {
  flex-wrap: wrap;
}
.wrap--wrap-reverse {
  flex-wrap: wrap-reverse;
}
.grow--1 {
  flex-grow: 1;
}
.shrink--1 {
  flex-shrink: 1;
}
.grow--2 {
  flex-grow: 2;
}
.shrink--2 {
  flex-shrink: 2;
}
.grow--3 {
  flex-grow: 3;
}
.shrink--3 {
  flex-shrink: 3;
}
.grow--4 {
  flex-grow: 4;
}
.shrink--4 {
  flex-shrink: 4;
}
.grow--5 {
  flex-grow: 5;
}
.shrink--5 {
  flex-shrink: 5;
}
.grow--6 {
  flex-grow: 6;
}
.shrink--6 {
  flex-shrink: 6;
}
.grow--7 {
  flex-grow: 7;
}
.shrink--7 {
  flex-shrink: 7;
}
.grow--8 {
  flex-grow: 8;
}
.shrink--8 {
  flex-shrink: 8;
}
.grow--9 {
  flex-grow: 9;
}
.shrink--9 {
  flex-shrink: 9;
}
.grow--10 {
  flex-grow: 10;
}
.shrink--10 {
  flex-shrink: 10;
}
